* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000437 !important;
    position: relative;
}

.wrapper {
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
}

.video-container {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 400px;
    /* height: 100vh; Adjust the height as needed */
    overflow: hidden;
}

.video-container video {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: blur(2px);
}

.video-container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    /* Adjust text color as needed */
}

.video-container .content h1 {
    font-size: 3rem;
    /* Adjust font size as needed */
    font-weight: bold;
}


.card-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
}

.card {
    flex: 1;
    margin-right: 10px;
}

.card img {
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}


.quote-container {
    text-align: center;
    justify-content: center;
    align-items: center
}

.quote-wrapper {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #17184e;
    box-shadow: 0 0 40px 2px;
}


blockquote article {
    font-weight: bold;
}


.footer-ending {
    margin-top: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #17184e;
    margin-bottom: 1rem;
}

.footer-ending a {
    text-decoration: none !important;
    background: #14A9D8;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #14A9D8;
    color: white;
    font-weight: 500;
}

.footer-ending p {
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}

.footer-ending h3 {
    margin-bottom: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.blob-left {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 340px;
    aspect-ratio: 1/1;
    filter: blur(40px);
    z-index: -1;
    background: linear-gradient(47deg,
            rgb(0 164 173) 67%,
            rgba(118, 74, 166, 1) 81%);
}

.blob-right {
    position: absolute;
    top: 300px;
    right: 0;
    opacity: 0.5;
    width: 400px;
    aspect-ratio: 1/1;
    filter: blur(40px);
    z-index: -1;
    background: linear-gradient(50deg,
            rgb(62, 177, 183) 67%,
            rgb(62, 177, 183) 81%);

}

.img-size {
    height: 600px;
    width: auto;
    border-radius: 0;
}

.img-size img {
    height: 600px;
    border-radius: 0;
    padding: 5px;
    object-fit: cover;
}


@media only screen and (max-width: 990px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        margin-right: 0;
        margin-bottom: 10px;
    }
}